In [2]:
!pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\yskon\anaconda3.2\lib\site-packages (2.0.3)
Requirement already satisfied: pyarrow in c:\users\yskon\anaconda3.2\lib\site-packages (11.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\yskon\anaconda3.2\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

## Transform : CSV to PARQUET

In [20]:
csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scraping\Travel_Scrapping"

csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    
    csv_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(csv_path, encoding='utf-8')

   
    parquet_file = os.path.splitext(csv_file)[0] + '.parquet'
    parquet_path = os.path.join(csv_directory, parquet_file)

    
    table = pa.Table.from_pandas(df)

    
    with open(parquet_path, 'wb') as f:
        pq.write_table(table, f)

## CSV DELETE

In [30]:
import os

csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scrap_Training\Scraping\Travel_Scrapping"
csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    csv_path = os.path.join(csv_directory, csv_file)
    os.remove(csv_path)

### Lecture des parquets

In [13]:
import os
import pandas as pd
import pyarrow.parquet as pq
# à changer lee directory     
parquet_directory = R"CSV/foursquare"
parquet_files = [file for file in os.listdir(parquet_directory) if file.endswith('.parquet')]


dataframes = []

for parquet_file in parquet_files:
    parquet_path = os.path.join(parquet_directory, parquet_file)

  
    table = pq.read_table(parquet_path)
    df = table.to_pandas()

    
    dataframes.append(df)

#Suppression colonne
for i in range (1,11) :
    colonne_a_image = 'image' + str(i)
    colonne_a_venueindex = 'venueindex' + str(i)
    colonne_a_tiptext = 'tiptext' + str(i)
    colonne_a_auteur = 'auteur' + str(i)
    colonne_a_etiquette = 'étiquette' + str(i)
    colonne_a_avatar = 'avatar' + str(i)
    colonne_a_utilisateur = 'utilisateur' + str(i)
    colonne_a_utilisateur_lien = 'utilisateur_lien' + str(i)
    
    if colonne_a_image and colonne_a_venueindex and colonne_a_etiquette and colonne_a_avatar and colonne_a_utilisateur and colonne_a_utilisateur_lien and colonne_a_tiptext in df.columns:
         df.drop(columns=[colonne_a_image], inplace=True)
         df.drop(columns=[colonne_a_venueindex], inplace=True)
         df.drop(columns=[colonne_a_tiptext], inplace=True)
         df.drop(columns=[colonne_a_etiquette], inplace=True)
         df.drop(columns=[colonne_a_avatar], inplace=True)
         df.drop(columns=[colonne_a_utilisateur], inplace=True)

for i in range (1,10) :
    colonne_a_auteur = 'auteur' + str(i)
    colonne_a_utilisateur_lien = 'utilisateur_lien' + str(i)
    
    if colonne_a_utilisateur_lien and colonne_a_auteur in df.columns:
         df.drop(columns=[colonne_a_auteur], inplace=True)
         df.drop(columns=[colonne_a_utilisateur_lien], inplace=True)

df.drop(columns=['image'], inplace=True)
df.drop(columns=['venueindex'], inplace=True)
df.drop(columns=['tiptext'], inplace=True)
df.drop(columns=['auteur'], inplace=True)
df.drop(columns=['étiquette'], inplace=True)
df.drop(columns=['avatar'], inplace=True)
df.drop(columns=['utilisateur'], inplace=True)
df.drop(columns=['utilisateur_lien'], inplace=True)

#Changerment les null en X
df = df.fillna('X')

#Prix
df['prix'] = df['prix'].str.replace('€€€€', 'Très cher')
df['prix'] = df['prix'].str.replace('$$$$', 'Très cher')
df['prix'] = df['prix'].str.replace('X', 'Pas cher')

#Doublons
doublons = df['Titre'].duplicated(keep=False)
positions_doublons = doublons[doublons].index
print("Positions des doublons :")
print(positions_doublons)

# Renommer colonnes
for x in range(0, 20):
    ancien_nom = 'Lien_du_titre' + str(x)
    nouveau_nom = 'Lien foursquare' + str(x)
    if ancien_nom in df.columns:
        df = df.rename(columns={ancien_nom: nouveau_nom})

for x in range(0, 20):
    ancien_nom = 'Titre' + str(x)
    nouveau_nom = 'Adresse' + str(x)
    if ancien_nom in df.columns:
        df = df.rename(columns={ancien_nom: nouveau_nom})

for x in range(0, 20):
    ancien_nom = 'champ' + str(x)
    nouveau_nom = 'Nom restaurant' + str(x)
    if ancien_nom in df.columns:
        df = df.rename(columns={ancien_nom: nouveau_nom})

df = df.rename(columns={'Titre': 'Adresse', 'champ': 'Lien foursquare', 'champ1':'Nom restaurant','Lien_du_titre':'Lien foursquare'})




df = df.astype(str)
df.head()

Positions des doublons :
Index([   1,   11,   16,   17,   19,   20,   21,   22,   23,   24,
       ...
       2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050],
      dtype='int64', length=1887)

,Adresse,note,Lien foursquare,Nom restaurant1,catégorie,prix,Adresse1,Lien foursquare,note1,catégorie1,...,note9,catégorie9,prix8,adresse6,Adresse10,Lien foursquare7,note10,catégorie10,prix9,adresse7
0,"Triq Sant'Orsla, La Valette",9.4,https://fr.foursquare.com/v/upper-barrakka-gar...,Upper Barrakka Gardens | Il-Barrakka ta' Fuq,Jardin,Pas cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
1,"South St, La Valette",9.2,https://fr.foursquare.com/v/sciacca-grill/556f...,Sciacca Grill,Argentine,Très cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
2,"36 Republic St, La Valette",9.2,https://fr.foursquare.com/v/amorino/5371ef5349...,Amorino,Glace,Très cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
3,"53a Old Theatre St, La Valette",9.2,https://fr.foursquare.com/v/taproom/571a7ae949...,TAPROOM,Méditerranéenne,Très cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
4,"Vjal Nelson, La Valette",9.1,https://fr.foursquare.com/v/triton-fountain/4d...,Triton Fountain,Fontaine,Pas cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X

In [2]:
for i in range(1, 10):
    ancien_nom = 'Lien_du_titre' + str(i)
    nouveau_nom = 'Lien foursquare'
    if ancien_nom in df.columns:
        df = df.rename(columns={ancien_nom: nouveau_nom})

df.head()

,Adresse,note,Lien foursquare,Nom restaurant1,catégorie,prix,Adresse1,Lien foursquare,note1,catégorie1,...,note9,catégorie9,prix8,adresse6,Adresse10,Lien foursquare7,note10,catégorie10,prix9,adresse7
0,"Triq Sant'Orsla, La Valette",9.4,https://fr.foursquare.com/v/upper-barrakka-gar...,Upper Barrakka Gardens | Il-Barrakka ta' Fuq,Jardin,Pas cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
1,"South St, La Valette",9.2,https://fr.foursquare.com/v/sciacca-grill/556f...,Sciacca Grill,Argentine,Très cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
2,"36 Republic St, La Valette",9.2,https://fr.foursquare.com/v/amorino/5371ef5349...,Amorino,Glace,Très cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
3,"53a Old Theatre St, La Valette",9.2,https://fr.foursquare.com/v/taproom/571a7ae949...,TAPROOM,Méditerranéenne,Très cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
4,"Vjal Nelson, La Valette",9.1,https://fr.foursquare.com/v/triton-fountain/4d...,Triton Fountain,Fontaine,Pas cher,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X

In [11]:
import pandas as pd
import pyarrow as pa

dataframe = []
table = pa.Table.from_pandas(dataframe)

chemin_fichier_parquet = 'D:\Cheap_Advisor\CSV\foursquare\Meilleur aux alentours Amsterdam.parquet'

pa.parquet.write_table(table, chemin_fichier_parquet)

AttributeError: 'list' object has no attribute 'columns'