In [1]:
!pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\skonieczny\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pyarrow in c:\users\skonieczny\anaconda3\lib\site-packages (10.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\skonieczny\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\skonieczny\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\skonieczny\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\skonieczny\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

## Transform : CSV to PARQUET

csv_directory = R"C:\Users\SKONIECZNY\Desktop\Cheap_Advisor\csvp"

csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    
    csv_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(csv_path, encoding='utf-8') 
    df['Unnamed: 0'].fillna(0, inplace=True)  # Fill missing values with 0
    df = df.astype({'Unnamed: 0': int})
# Specify the data type
    parquet_file = os.path.splitext(csv_file)[0] + '.parquet'
    parquet_path = os.path.join(csv_directory, parquet_file)
    
    table = pa.Table.from_pandas(df)

    
    with open(parquet_path, 'wb') as f:
        pq.write_table(table, f)

## CSV DELETE

import os

csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scrap_Training\Scraping\Travel_Scrapping"
csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    csv_path = os.path.join(csv_directory, csv_file)
    os.remove(csv_path)

### Lecture des parquets

In [3]:
import os
import pandas as pd
import pyarrow.parquet as pq
# à changer lee directory
parquet_directory = R"C:\Users\SKONIECZNY\Desktop\Cheap_Advisor\csvp"
parquet_files = [file for file in os.listdir(parquet_directory) if file.endswith('.parquet')]


dataframes = []

for parquet_file in parquet_files:
    parquet_path = os.path.join(parquet_directory, parquet_file)
    
  
    table = pq.read_table(parquet_path)
    df = table.to_pandas()
    
    
    dataframes.append(df)
    
dataframe = pd.concat(dataframes, ignore_index=True)   

dataframe.head()

,Unnamed: 0,Date_Départ,Date_arrivée,VILLE_DEPART,VILLE_ARRIVEE,Horaires,Trajet,Type de trajet,Temps de trajet,Prix,Compagnie de vol
0,0,2023-11-22,2023-11-28,BRU,BER,20:55 – 22:20,BRUAéroport de Bruxelles-National-BERAéroport ...,direct,1h 25min,133 €,Brussels Airlines
1,0,Date_Départ,Date_arrivée,VILLE_DEPART,VILLE_ARRIVEE,Horaires,Trajet,Type de trajet,Temps de trajet,Prix,Compagnie de vol
2,0,2023-11-22,2023-11-28,BRU,BER,20:55 – 22:20,BRUAéroport de Bruxelles-National-BERAéroport ...,direct,1h 25min,133 €,Brussels Airlines
3,1,2023-11-22,2023-11-28,BRU,BER,08:35 – 13:35,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,5h 00min,71 €,"Wizz Air, Ryanair"
4,0,Date_Départ,Date_arrivée,VILLE_DEPART,VILLE_ARRIVEE,Horaires,Trajet,Type de trajet,Temps de trajet,Prix,Compagnie de vol

In [4]:
dataframe.columns

Index(['Unnamed: 0', 'Date_Départ', 'Date_arrivée', 'VILLE_DEPART',
       'VILLE_ARRIVEE', 'Horaires', 'Trajet', 'Type de trajet',
       'Temps de trajet', 'Prix', 'Compagnie de vol'],
      dtype='object')

In [5]:
dataframe = dataframe.drop("Unnamed: 0", axis=1)

In [6]:
dataframe.columns

Index(['Date_Départ', 'Date_arrivée', 'VILLE_DEPART', 'VILLE_ARRIVEE',
       'Horaires', 'Trajet', 'Type de trajet', 'Temps de trajet', 'Prix',
       'Compagnie de vol'],
      dtype='object')

In [7]:
dataframe['Prix']

0          133 €
1           Prix
2          133 €
3           71 €
4           Prix
           ...
1950263     None
1950264     None
1950265     None
1950266     None
1950267     None
Name: Prix, Length: 1950268, dtype: object

In [8]:
dataframe.columns

Index(['Date_Départ', 'Date_arrivée', 'VILLE_DEPART', 'VILLE_ARRIVEE',
       'Horaires', 'Trajet', 'Type de trajet', 'Temps de trajet', 'Prix',
       'Compagnie de vol'],
      dtype='object')

In [9]:
print(dataframe.dtypes)

Date_Départ         object
Date_arrivée        object
VILLE_DEPART        object
VILLE_ARRIVEE       object
Horaires            object
Trajet              object
Type de trajet      object
Temps de trajet     object
Prix                object
Compagnie de vol    object
dtype: object

In [10]:
import pandas as pd


dataframe = dataframe[dataframe['Date_Départ'] != "Date_Départ"]
dataframe = dataframe[dataframe['Date_arrivée'] != "Date_Départ"]


dataframe['Date_Départ'] = pd.to_datetime(dataframe['Date_Départ'], format='%Y-%m-%d')
dataframe['Date_arrivée'] = pd.to_datetime(dataframe['Date_arrivée'], format='%Y-%m-%d')


dataframe['Date_Départ'] = dataframe['Date_Départ'].dt.strftime('%d/%m/%Y')
dataframe['Date_arrivée'] = dataframe['Date_arrivée'].dt.strftime('%d/%m/%Y')


print(dataframe)

        Date_Départ Date_arrivée VILLE_DEPART VILLE_ARRIVEE       Horaires  \
0        22/11/2023   28/11/2023          BRU           BER  20:55 – 22:20
2        22/11/2023   28/11/2023          BRU           BER  20:55 – 22:20
3        22/11/2023   28/11/2023          BRU           BER  08:35 – 13:35
5        22/11/2023   28/11/2023          BRU           BER  20:55 – 22:20
6        22/11/2023   28/11/2023          BRU           BER  08:35 – 13:35
...             ...          ...          ...           ...            ...
1950263  22/11/2023   28/11/2023          AMS           TGD           None
1950264  22/11/2023   28/11/2023          AMS           TGD           None
1950265  22/11/2023   28/11/2023          AMS           TGD           None
1950266  22/11/2023   28/11/2023          AMS           TGD           None
1950267  22/11/2023   28/11/2023          AMS           TGD           None

                                                    Trajet Type de trajet  \
0        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
2        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
3        CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
5        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
6        CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
...                                                    ...            ...
1950263                                               None           None
1950264                                               None           None
1950265                                               None           None
1950266                                               None           None
1950267                                               None           None

        Temps de trajet   Prix   Compagnie de vol
0              1h 25min  133 €  Brussels Airlines
2              1h 25min  133 €  Brussels Airlines
3              5h 00min   71 €  Wizz Air, Ryanair
5              1h 25min  133 €  Brussels Airlines
6              5h 00min   71 €  Wizz Air, Ryanair
...                 ...    ...                ...
1950263            None   None               None
1950264            None   None               None
1950265            None   None               None
1950266            None   None               None
1950267            None   None               None

[1947374 rows x 10 columns]

In [11]:
dataframe.head(10)

,Date_Départ,Date_arrivée,VILLE_DEPART,VILLE_ARRIVEE,Horaires,Trajet,Type de trajet,Temps de trajet,Prix,Compagnie de vol
0,22/11/2023,28/11/2023,BRU,BER,20:55 – 22:20,BRUAéroport de Bruxelles-National-BERAéroport ...,direct,1h 25min,133 €,Brussels Airlines
2,22/11/2023,28/11/2023,BRU,BER,20:55 – 22:20,BRUAéroport de Bruxelles-National-BERAéroport ...,direct,1h 25min,133 €,Brussels Airlines
3,22/11/2023,28/11/2023,BRU,BER,08:35 – 13:35,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,5h 00min,71 €,"Wizz Air, Ryanair"
5,22/11/2023,28/11/2023,BRU,BER,20:55 – 22:20,BRUAéroport de Bruxelles-National-BERAéroport ...,direct,1h 25min,133 €,Brussels Airlines
6,22/11/2023,28/11/2023,BRU,BER,08:35 – 13:35,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,5h 00min,71 €,"Wizz Air, Ryanair"
7,22/11/2023,28/11/2023,BRU,BER,13:05 – 20:30,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,7h 25min,96 €,"Ryanair, easyJet"
9,22/11/2023,28/11/2023,BRU,BER,20:55 – 22:20,BRUAéroport de Bruxelles-National-BERAéroport ...,direct,1h 25min,133 €,Brussels Airlines
10,22/11/2023,28/11/2023,BRU,BER,08:35 – 13:35,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,5h 00min,71 €,"Wizz Air, Ryanair"
11,22/11/2023,28/11/2023,BRU,BER,13:05 – 20:30,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,7h 25min,96 €,"Ryanair, easyJet"
12,22/11/2023,28/11/2023,BRU,BER,09:35 – 18:05,CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...,direct,8h 30min,101 €,Ryanair

In [12]:
print(dataframe.dtypes)

Date_Départ         object
Date_arrivée        object
VILLE_DEPART        object
VILLE_ARRIVEE       object
Horaires            object
Trajet              object
Type de trajet      object
Temps de trajet     object
Prix                object
Compagnie de vol    object
dtype: object

In [13]:
import pandas as pd

# Supposons que vous ayez un DataFrame appelé dataframe avec les colonnes que vous avez mentionnées
# Convertir les colonnes de date en datetime
dataframe['Date_Départ'] = pd.to_datetime(dataframe['Date_Départ'])
dataframe['Date_arrivée'] = pd.to_datetime(dataframe['Date_arrivée'])

# Convertir les autres colonnes en string
cols_to_convert_to_string = ['VILLE_DEPART', 'VILLE_ARRIVEE', 'Trajet', 'Type de trajet', 'Temps de trajet', 'Prix', 'Compagnie de vol','Horaires']
dataframe[cols_to_convert_to_string] = dataframe[cols_to_convert_to_string].astype(str)

# Afficher le DataFrame mis à jour
print(dataframe)

C:\Users\SKONIECZNY\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '22/11/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\SKONIECZNY\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '28/11/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

        Date_Départ Date_arrivée VILLE_DEPART VILLE_ARRIVEE       Horaires  \
0        2023-11-22   2023-11-28          BRU           BER  20:55 – 22:20
2        2023-11-22   2023-11-28          BRU           BER  20:55 – 22:20
3        2023-11-22   2023-11-28          BRU           BER  08:35 – 13:35
5        2023-11-22   2023-11-28          BRU           BER  20:55 – 22:20
6        2023-11-22   2023-11-28          BRU           BER  08:35 – 13:35
...             ...          ...          ...           ...            ...
1950263  2023-11-22   2023-11-28          AMS           TGD           None
1950264  2023-11-22   2023-11-28          AMS           TGD           None
1950265  2023-11-22   2023-11-28          AMS           TGD           None
1950266  2023-11-22   2023-11-28          AMS           TGD           None
1950267  2023-11-22   2023-11-28          AMS           TGD           None

                                                    Trajet Type de trajet  \
0        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
2        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
3        CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
5        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
6        CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
...                                                    ...            ...
1950263                                               None           None
1950264                                               None           None
1950265                                               None           None
1950266                                               None           None
1950267                                               None           None

        Temps de trajet   Prix   Compagnie de vol
0              1h 25min  133 €  Brussels Airlines
2              1h 25min  133 €  Brussels Airlines
3              5h 00min   71 €  Wizz Air, Ryanair
5              1h 25min  133 €  Brussels Airlines
6              5h 00min   71 €  Wizz Air, Ryanair
...                 ...    ...                ...
1950263            None   None               None
1950264            None   None               None
1950265            None   None               None
1950266            None   None               None
1950267            None   None               None

[1947374 rows x 10 columns]

In [14]:
print(dataframe.dtypes)

Date_Départ         datetime64[ns]
Date_arrivée        datetime64[ns]
VILLE_DEPART                object
VILLE_ARRIVEE               object
Horaires                    object
Trajet                      object
Type de trajet              object
Temps de trajet             object
Prix                        object
Compagnie de vol            object
dtype: object

In [15]:
dataframe = dataframe.drop_duplicates()

In [16]:
print(dataframe)

        Date_Départ Date_arrivée VILLE_DEPART VILLE_ARRIVEE         Horaires  \
0        2023-11-22   2023-11-28          BRU           BER    20:55 – 22:20
3        2023-11-22   2023-11-28          BRU           BER    08:35 – 13:35
7        2023-11-22   2023-11-28          BRU           BER    13:05 – 20:30
12       2023-11-22   2023-11-28          BRU           BER    09:35 – 18:05
18       2023-11-22   2023-11-28          BRU           BER    12:35 – 18:05
...             ...          ...          ...           ...              ...
1912257  2023-11-22   2023-11-28          AMS           SKP    07:25 – 13:55
1917660  2023-11-22   2023-11-28          AMS           SKP    14:40 – 22:40
1923072  2023-11-22   2023-11-28          AMS           TGD  20:45 – 07:30+1
1924878  2023-11-22   2023-11-28          AMS           TGD  20:45 – 07:30+1
1926685  2023-11-22   2023-11-28          AMS           TGD             None

                                                    Trajet Type de trajet  \
0        BRUAéroport de Bruxelles-National-BERAéroport ...         direct
3        CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
7        CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
12       CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
18       CRLAéroport de Charleroi-Bruxelles-Sud-BERAéro...         direct
...                                                    ...            ...
1912257  AMSAéroport d'Amsterdam-Schiphol-SKPAéroport A...       1 escale
1917660  AMSAéroport d'Amsterdam-Schiphol-SKPAéroport A...       1 escale
1923072  AMSAéroport d'Amsterdam-Schiphol-TGDAéroport d...       1 escale
1924878  AMSAéroport d'Amsterdam-Schiphol-TGDAéroport d...       1 escale
1926685                                               None           None

        Temps de trajet   Prix               Compagnie de vol
0              1h 25min  133 €              Brussels Airlines
3              5h 00min   71 €              Wizz Air, Ryanair
7              7h 25min   96 €               Ryanair, easyJet
12             8h 30min  101 €                        Ryanair
18             5h 30min  102 €                        Ryanair
...                 ...    ...                            ...
1912257        6h 30min  228 €   Lufthansa, Austrian Airlines
1917660        8h 00min  228 €   Lufthansa, Austrian Airlines
1923072       10h 45min  296 €  Air Serbia, Austrian Airlines
1924878       10h 45min  230 €                     Air Serbia
1926685            None   None                           None

[2195 rows x 10 columns]

In [17]:
import pandas as pd
import pyarrow as pa


table = pa.Table.from_pandas(dataframe)

chemin_fichier_parquet = 'VOLS1.parquet'

pa.parquet.write_table(table, chemin_fichier_parquet)