In [1]:
!pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\yskon\anaconda3.2\lib\site-packages (2.0.3)
Requirement already satisfied: pyarrow in c:\users\yskon\anaconda3.2\lib\site-packages (11.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\yskon\anaconda3.2\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\yskon\anaconda3.2\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

## Transform : CSV to PARQUET

csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scraping\Travel_Scrapping"

csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    
    csv_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(csv_path, encoding='utf-8')

   
    parquet_file = os.path.splitext(csv_file)[0] + '.parquet'
    parquet_path = os.path.join(csv_directory, parquet_file)

    
    table = pa.Table.from_pandas(df)

    
    with open(parquet_path, 'wb') as f:
        pq.write_table(table, f)

## CSV DELETE

import os

csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scrap_Training\Scraping\Travel_Scrapping"
csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    csv_path = os.path.join(csv_directory, csv_file)
    os.remove(csv_path)

### Lecture des parquets

In [3]:
import os
import pandas as pd
import pyarrow.parquet as pq
# à changer lee directory
parquet_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\CSV\SCRAP_HOTEL"
parquet_files = [file for file in os.listdir(parquet_directory) if file.endswith('.parquet')]


dataframes = []

for parquet_file in parquet_files:
    parquet_path = os.path.join(parquet_directory, parquet_file)
    
  
    table = pq.read_table(parquet_path)
    df = table.to_pandas()
    
    
    dataframes.append(df)
    
dataframe = pd.concat(dataframes, ignore_index=True)   

dataframe.head()
#Date : 8/11

,Nom_Hotel,Adresse,Nom_Suite,Services,Note,Nbr_Experiences,Periode,Date,Prix
0,Ruby Emma Hotel Amsterdam,"Oost-Watergraafsmeer, Amsterdam",Hébergement Mate,2 lits simples,"8,6",4 894 expériences vécues,"1 nuit, 1 adulte",NaN,€ 159
1,INNSiDE by Meliá Amsterdam,"Zuideramstel, Amsterdam",Chambre Innside,Types de lits : 1 lit double ou 2 lits simples,"8,5",5 081 expériences vécues,"1 nuit, 1 adulte",NaN,€ 221€ 188
2,Motel One Amsterdam,"Zuideramstel, Amsterdam",Chambre Double,1 lit double,"8,6",8 445 expériences vécues,"1 nuit, 1 adulte",NaN,€ 130
3,Eden Hotel Amsterdam,"Centre d'Amsterdam, Amsterdam",Chambre Simple Standard,1 lit simple,"8,2",7 930 expériences vécues,"1 nuit, 1 adulte",NaN,€ 206
4,Mövenpick Hotel Amsterdam City Centre,"Zeeburg, Amsterdam",Chambre Lits Jumeaux Classique avec Vue,2 lits simples,"8,2",3 984 expériences vécues,"1 nuit, 1 adulte",NaN,€ 203

In [4]:
dataframe.columns

Index(['Nom_Hotel', 'Adresse', 'Nom_Suite', 'Services', 'Note',
       'Nbr_Experiences', 'Periode', 'Date', 'Prix'],
      dtype='object')

In [5]:
import pandas as pd

# Obtenez le nombre de lignes actuel dans le DataFrame
num_rows = len(dataframe)

# Créez une plage de dates sans année
start_date = pd.to_datetime('2023-11-22', format='%Y-%m-%d')
end_date = pd.to_datetime('2023-11-28', format='%Y-%m-%d')
date_range = pd.date_range(start_date, end_date, periods=num_rows)



# Mettez à jour la colonne 'Date' dans le DataFrame
dataframe['Date'] = date_range.strftime('%Y-%m-%d')

# Affichez le DataFrame
print(dataframe)

                                          Nom_Hotel  \
0                         Ruby Emma Hotel Amsterdam
1                        INNSiDE by Meliá Amsterdam
2                               Motel One Amsterdam
3                              Eden Hotel Amsterdam
4             Mövenpick Hotel Amsterdam City Centre
...                                             ...
24073    Swiss Star Zurich Oerlikon - Self Check-In
24074  Swiss Star Zurich University - Self Check-In
24075           Swiss Star Wiedikon - Self Check-In
24076                 La Réserve Eden au Lac Zurich
24077        Widder Hotel - Zurichs luxury hideaway

                                                 Adresse  \
0                        Oost-Watergraafsmeer, Amsterdam
1                                Zuideramstel, Amsterdam
2                                Zuideramstel, Amsterdam
3                          Centre d'Amsterdam, Amsterdam
4                                     Zeeburg, Amsterdam
...                                                  ...
24073                                   Oerlikon, Zurich
24074  1. Vieille ville de Zurich - Centre ville, Zurich
24075                                   Wiedikon, Zurich
24076                                    Seefeld, Zurich
24077  1. Vieille ville de Zurich - Centre ville, Zurich

                                     Nom_Suite  \
0                             Hébergement Mate
1                              Chambre Innside
2                               Chambre Double
3                      Chambre Simple Standard
4      Chambre Lits Jumeaux Classique avec Vue
...                                        ...
24073                                    Suite
24074                  Appartement (2 Adultes)
24075        Appartement 1 Chambre (2 Adultes)
24076          Chambre de Luxe – Vue sur Ville
24077                    Chambre Simple Design

                                                Services Note  \
0                                         2 lits simples  8,6
1         Types de lits : 1 lit double ou 2 lits simples  8,5
2                                           1 lit double  8,6
3                                           1 lit simple  8,2
4                                         2 lits simples  8,2
...                                                  ...  ...
24073                                 1 grand lit double  5,8
24074                                       1 lit double  6,3
24075                                 1 grand lit double  6,6
24076  4 lits (2 lits simples, 1 très grand lit doubl...  9,1
24077                                       1 lit simple  9,3

                Nbr_Experiences           Periode        Date        Prix
0      4 894 expériences vécues  1 nuit, 1 adulte  2023-11-22       € 159
1      5 081 expériences vécues  1 nuit, 1 adulte  2023-11-22  € 221€ 188
2      8 445 expériences vécues  1 nuit, 1 adulte  2023-11-22       € 130
3      7 930 expériences vécues  1 nuit, 1 adulte  2023-11-22       € 206
4      3 984 expériences vécues  1 nuit, 1 adulte  2023-11-22       € 203
...                         ...               ...         ...         ...
24073    223 expériences vécues  1 nuit, 1 adulte  2023-11-27       € 233
24074    627 expériences vécues  1 nuit, 1 adulte  2023-11-27       € 181
24075    554 expériences vécues  1 nuit, 1 adulte  2023-11-27       € 192
24076    432 expériences vécues  1 nuit, 1 adulte  2023-11-27       € 853
24077    361 expériences vécues  1 nuit, 1 adulte  2023-11-28       € 874

[24078 rows x 9 columns]

In [6]:
dataframe.drop(['Nbr_Experiences', 'Nom_Suite','Periode'], axis=1, inplace=True)

# Affiche le DataFrame après la suppression des colonnes
print(dataframe)

                                          Nom_Hotel  \
0                         Ruby Emma Hotel Amsterdam
1                        INNSiDE by Meliá Amsterdam
2                               Motel One Amsterdam
3                              Eden Hotel Amsterdam
4             Mövenpick Hotel Amsterdam City Centre
...                                             ...
24073    Swiss Star Zurich Oerlikon - Self Check-In
24074  Swiss Star Zurich University - Self Check-In
24075           Swiss Star Wiedikon - Self Check-In
24076                 La Réserve Eden au Lac Zurich
24077        Widder Hotel - Zurichs luxury hideaway

                                                 Adresse  \
0                        Oost-Watergraafsmeer, Amsterdam
1                                Zuideramstel, Amsterdam
2                                Zuideramstel, Amsterdam
3                          Centre d'Amsterdam, Amsterdam
4                                     Zeeburg, Amsterdam
...                                                  ...
24073                                   Oerlikon, Zurich
24074  1. Vieille ville de Zurich - Centre ville, Zurich
24075                                   Wiedikon, Zurich
24076                                    Seefeld, Zurich
24077  1. Vieille ville de Zurich - Centre ville, Zurich

                                                Services Note        Date  \
0                                         2 lits simples  8,6  2023-11-22
1         Types de lits : 1 lit double ou 2 lits simples  8,5  2023-11-22
2                                           1 lit double  8,6  2023-11-22
3                                           1 lit simple  8,2  2023-11-22
4                                         2 lits simples  8,2  2023-11-22
...                                                  ...  ...         ...
24073                                 1 grand lit double  5,8  2023-11-27
24074                                       1 lit double  6,3  2023-11-27
24075                                 1 grand lit double  6,6  2023-11-27
24076  4 lits (2 lits simples, 1 très grand lit doubl...  9,1  2023-11-27
24077                                       1 lit simple  9,3  2023-11-28

             Prix
0           € 159
1      € 221€ 188
2           € 130
3           € 206
4           € 203
...           ...
24073       € 233
24074       € 181
24075       € 192
24076       € 853
24077       € 874

[24078 rows x 6 columns]

In [7]:
dataframe.columns

Index(['Nom_Hotel', 'Adresse', 'Services', 'Note', 'Date', 'Prix'], dtype='object')

In [8]:
print(dataframe.dtypes)

Nom_Hotel    object
Adresse      object
Services     object
Note         object
Date         object
Prix         object
dtype: object

In [9]:
# Split des valeurs de la colonne "Adresse" en deux parties
split_df = dataframe['Adresse'].str.split(', ', n=1, expand=True)

# Renommez les colonnes résultantes
split_df.columns = ['Adresse1', 'Ville']

# Ajoutez les colonnes "Adresse" et "Ville" au DataFrame
dataframe = pd.concat([dataframe, split_df], axis=1)

# Affiche le DataFrame après la modification
print(dataframe)

                                          Nom_Hotel  \
0                         Ruby Emma Hotel Amsterdam
1                        INNSiDE by Meliá Amsterdam
2                               Motel One Amsterdam
3                              Eden Hotel Amsterdam
4             Mövenpick Hotel Amsterdam City Centre
...                                             ...
24073    Swiss Star Zurich Oerlikon - Self Check-In
24074  Swiss Star Zurich University - Self Check-In
24075           Swiss Star Wiedikon - Self Check-In
24076                 La Réserve Eden au Lac Zurich
24077        Widder Hotel - Zurichs luxury hideaway

                                                 Adresse  \
0                        Oost-Watergraafsmeer, Amsterdam
1                                Zuideramstel, Amsterdam
2                                Zuideramstel, Amsterdam
3                          Centre d'Amsterdam, Amsterdam
4                                     Zeeburg, Amsterdam
...                                                  ...
24073                                   Oerlikon, Zurich
24074  1. Vieille ville de Zurich - Centre ville, Zurich
24075                                   Wiedikon, Zurich
24076                                    Seefeld, Zurich
24077  1. Vieille ville de Zurich - Centre ville, Zurich

                                                Services Note        Date  \
0                                         2 lits simples  8,6  2023-11-22
1         Types de lits : 1 lit double ou 2 lits simples  8,5  2023-11-22
2                                           1 lit double  8,6  2023-11-22
3                                           1 lit simple  8,2  2023-11-22
4                                         2 lits simples  8,2  2023-11-22
...                                                  ...  ...         ...
24073                                 1 grand lit double  5,8  2023-11-27
24074                                       1 lit double  6,3  2023-11-27
24075                                 1 grand lit double  6,6  2023-11-27
24076  4 lits (2 lits simples, 1 très grand lit doubl...  9,1  2023-11-27
24077                                       1 lit simple  9,3  2023-11-28

             Prix                                   Adresse1      Ville
0           € 159                       Oost-Watergraafsmeer  Amsterdam
1      € 221€ 188                               Zuideramstel  Amsterdam
2           € 130                               Zuideramstel  Amsterdam
3           € 206                         Centre d'Amsterdam  Amsterdam
4           € 203                                    Zeeburg  Amsterdam
...           ...                                        ...        ...
24073       € 233                                   Oerlikon     Zurich
24074       € 181  1. Vieille ville de Zurich - Centre ville     Zurich
24075       € 192                                   Wiedikon     Zurich
24076       € 853                                    Seefeld     Zurich
24077       € 874  1. Vieille ville de Zurich - Centre ville     Zurich

[24078 rows x 8 columns]

In [10]:
for index, row in dataframe.iterrows():
    if ', ' in row['Adresse']:
        parts = row['Adresse'].split(', ', 1)
        dataframe.at[index, 'Adresse'] = parts[0]
dataframe.head()

,Nom_Hotel,Adresse,Services,Note,Date,Prix,Adresse1,Ville
0,Ruby Emma Hotel Amsterdam,Oost-Watergraafsmeer,2 lits simples,"8,6",2023-11-22,€ 159,Oost-Watergraafsmeer,Amsterdam
1,INNSiDE by Meliá Amsterdam,Zuideramstel,Types de lits : 1 lit double ou 2 lits simples,"8,5",2023-11-22,€ 221€ 188,Zuideramstel,Amsterdam
2,Motel One Amsterdam,Zuideramstel,1 lit double,"8,6",2023-11-22,€ 130,Zuideramstel,Amsterdam
3,Eden Hotel Amsterdam,Centre d'Amsterdam,1 lit simple,"8,2",2023-11-22,€ 206,Centre d'Amsterdam,Amsterdam
4,Mövenpick Hotel Amsterdam City Centre,Zeeburg,2 lits simples,"8,2",2023-11-22,€ 203,Zeeburg,Amsterdam

In [11]:
# Transformation de la colonne 'Prix' en int
dataframe['Prix'] = dataframe['Prix'].str.replace('€', '')

# Transformation de la colonne 'Note' en float
dataframe['Note'] = dataframe['Note'].str.replace(',', '.')

# Transformation de la colonne 'Date' en datetime
dataframe['Date'] = pd.to_datetime(dataframe['Date'], format='%Y-%m-%d')


dataframe.head()

,Nom_Hotel,Adresse,Services,Note,Date,Prix,Adresse1,Ville
0,Ruby Emma Hotel Amsterdam,Oost-Watergraafsmeer,2 lits simples,8.6,2023-11-22,159,Oost-Watergraafsmeer,Amsterdam
1,INNSiDE by Meliá Amsterdam,Zuideramstel,Types de lits : 1 lit double ou 2 lits simples,8.5,2023-11-22,221 188,Zuideramstel,Amsterdam
2,Motel One Amsterdam,Zuideramstel,1 lit double,8.6,2023-11-22,130,Zuideramstel,Amsterdam
3,Eden Hotel Amsterdam,Centre d'Amsterdam,1 lit simple,8.2,2023-11-22,206,Centre d'Amsterdam,Amsterdam
4,Mövenpick Hotel Amsterdam City Centre,Zeeburg,2 lits simples,8.2,2023-11-22,203,Zeeburg,Amsterdam

In [12]:
# Transformation de la colonne 'Note' en str
dataframe['Note'] = dataframe['Note'].astype(float)

# Supprimez les caractères non numériques et convertissez la colonne 'Prix' en float
dataframe['Prix'] = dataframe['Prix'].str.replace(r'[^\d.]', '', regex=True).astype(float)

In [13]:
dataframe.columns

Index(['Nom_Hotel', 'Adresse', 'Services', 'Note', 'Date', 'Prix', 'Adresse1',
       'Ville'],
      dtype='object')

In [14]:
print(dataframe.dtypes)

Nom_Hotel            object
Adresse              object
Services             object
Note                float64
Date         datetime64[ns]
Prix                float64
Adresse1             object
Ville                object
dtype: object

In [15]:
dataframe.head()

,Nom_Hotel,Adresse,Services,Note,Date,Prix,Adresse1,Ville
0,Ruby Emma Hotel Amsterdam,Oost-Watergraafsmeer,2 lits simples,8.6,2023-11-22,159.0,Oost-Watergraafsmeer,Amsterdam
1,INNSiDE by Meliá Amsterdam,Zuideramstel,Types de lits : 1 lit double ou 2 lits simples,8.5,2023-11-22,221188.0,Zuideramstel,Amsterdam
2,Motel One Amsterdam,Zuideramstel,1 lit double,8.6,2023-11-22,130.0,Zuideramstel,Amsterdam
3,Eden Hotel Amsterdam,Centre d'Amsterdam,1 lit simple,8.2,2023-11-22,206.0,Centre d'Amsterdam,Amsterdam
4,Mövenpick Hotel Amsterdam City Centre,Zeeburg,2 lits simples,8.2,2023-11-22,203.0,Zeeburg,Amsterdam

In [16]:
dataframe.head(10)

,Nom_Hotel,Adresse,Services,Note,Date,Prix,Adresse1,Ville
0,Ruby Emma Hotel Amsterdam,Oost-Watergraafsmeer,2 lits simples,8.6,2023-11-22,159.0,Oost-Watergraafsmeer,Amsterdam
1,INNSiDE by Meliá Amsterdam,Zuideramstel,Types de lits : 1 lit double ou 2 lits simples,8.5,2023-11-22,221188.0,Zuideramstel,Amsterdam
2,Motel One Amsterdam,Zuideramstel,1 lit double,8.6,2023-11-22,130.0,Zuideramstel,Amsterdam
3,Eden Hotel Amsterdam,Centre d'Amsterdam,1 lit simple,8.2,2023-11-22,206.0,Centre d'Amsterdam,Amsterdam
4,Mövenpick Hotel Amsterdam City Centre,Zeeburg,2 lits simples,8.2,2023-11-22,203.0,Zeeburg,Amsterdam
5,W Amsterdam,Centre d'Amsterdam,1 très grand lit double,7.6,2023-11-22,309.0,Centre d'Amsterdam,Amsterdam
6,"Kimpton De Witt Amsterdam, an IHG Hotel",Centre d'Amsterdam,1 lit double,8.7,2023-11-22,237.0,Centre d'Amsterdam,Amsterdam
7,Banks Mansion - All Inclusive Boutique Hotel,Centre d'Amsterdam,Types de lits : 1 lit double ou 2 lits simples,8.9,2023-11-22,268.0,Centre d'Amsterdam,Amsterdam
8,"Radisson Blu Hotel, Amsterdam City Center",Centre d'Amsterdam,Types de lits : 1 lit double ou 2 lits simples,8.4,2023-11-22,292.0,Centre d'Amsterdam,Amsterdam
9,Grand Hotel Amrâth Amsterdam,Centre d'Amsterdam,1 lit simple,7.7,2023-11-22,269242.0,Centre d'Amsterdam,Amsterdam

In [21]:
print(dataframe.dtypes)

Nom_Hotel            object
Services             object
Note                float64
Date         datetime64[ns]
Prix                float64
Adresse              object
Ville                object
dtype: object

In [18]:
dataframe = dataframe.drop(labels='Adresse', axis=1)

print(dataframe)

                                          Nom_Hotel  \
0                         Ruby Emma Hotel Amsterdam
1                        INNSiDE by Meliá Amsterdam
2                               Motel One Amsterdam
3                              Eden Hotel Amsterdam
4             Mövenpick Hotel Amsterdam City Centre
...                                             ...
24073    Swiss Star Zurich Oerlikon - Self Check-In
24074  Swiss Star Zurich University - Self Check-In
24075           Swiss Star Wiedikon - Self Check-In
24076                 La Réserve Eden au Lac Zurich
24077        Widder Hotel - Zurichs luxury hideaway

                                                Services  Note       Date  \
0                                         2 lits simples   8.6 2023-11-22
1         Types de lits : 1 lit double ou 2 lits simples   8.5 2023-11-22
2                                           1 lit double   8.6 2023-11-22
3                                           1 lit simple   8.2 2023-11-22
4                                         2 lits simples   8.2 2023-11-22
...                                                  ...   ...        ...
24073                                 1 grand lit double   5.8 2023-11-27
24074                                       1 lit double   6.3 2023-11-27
24075                                 1 grand lit double   6.6 2023-11-27
24076  4 lits (2 lits simples, 1 très grand lit doubl...   9.1 2023-11-27
24077                                       1 lit simple   9.3 2023-11-28

           Prix                                   Adresse1      Ville
0         159.0                       Oost-Watergraafsmeer  Amsterdam
1      221188.0                               Zuideramstel  Amsterdam
2         130.0                               Zuideramstel  Amsterdam
3         206.0                         Centre d'Amsterdam  Amsterdam
4         203.0                                    Zeeburg  Amsterdam
...         ...                                        ...        ...
24073     233.0                                   Oerlikon     Zurich
24074     181.0  1. Vieille ville de Zurich - Centre ville     Zurich
24075     192.0                                   Wiedikon     Zurich
24076     853.0                                    Seefeld     Zurich
24077     874.0  1. Vieille ville de Zurich - Centre ville     Zurich

[24078 rows x 7 columns]

In [19]:
dataframe = dataframe.rename(columns={'Adresse1': 'Adresse'})

In [20]:
print(dataframe)

                                          Nom_Hotel  \
0                         Ruby Emma Hotel Amsterdam
1                        INNSiDE by Meliá Amsterdam
2                               Motel One Amsterdam
3                              Eden Hotel Amsterdam
4             Mövenpick Hotel Amsterdam City Centre
...                                             ...
24073    Swiss Star Zurich Oerlikon - Self Check-In
24074  Swiss Star Zurich University - Self Check-In
24075           Swiss Star Wiedikon - Self Check-In
24076                 La Réserve Eden au Lac Zurich
24077        Widder Hotel - Zurichs luxury hideaway

                                                Services  Note       Date  \
0                                         2 lits simples   8.6 2023-11-22
1         Types de lits : 1 lit double ou 2 lits simples   8.5 2023-11-22
2                                           1 lit double   8.6 2023-11-22
3                                           1 lit simple   8.2 2023-11-22
4                                         2 lits simples   8.2 2023-11-22
...                                                  ...   ...        ...
24073                                 1 grand lit double   5.8 2023-11-27
24074                                       1 lit double   6.3 2023-11-27
24075                                 1 grand lit double   6.6 2023-11-27
24076  4 lits (2 lits simples, 1 très grand lit doubl...   9.1 2023-11-27
24077                                       1 lit simple   9.3 2023-11-28

           Prix                                    Adresse      Ville
0         159.0                       Oost-Watergraafsmeer  Amsterdam
1      221188.0                               Zuideramstel  Amsterdam
2         130.0                               Zuideramstel  Amsterdam
3         206.0                         Centre d'Amsterdam  Amsterdam
4         203.0                                    Zeeburg  Amsterdam
...         ...                                        ...        ...
24073     233.0                                   Oerlikon     Zurich
24074     181.0  1. Vieille ville de Zurich - Centre ville     Zurich
24075     192.0                                   Wiedikon     Zurich
24076     853.0                                    Seefeld     Zurich
24077     874.0  1. Vieille ville de Zurich - Centre ville     Zurich

[24078 rows x 7 columns]

In [22]:
import pandas as pd
import pyarrow as pa


table = pa.Table.from_pandas(dataframe)

chemin_fichier_parquet = 'Hotels.parquet'

pa.parquet.write_table(table, chemin_fichier_parquet)