In [1]:
!pip install pandas pyarrow

^C

In [4]:
import os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

## Transform : CSV to PARQUET

In [3]:
csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scraping\Travel_Scrapping"

csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    
    csv_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(csv_path, encoding='utf-8')

   
    parquet_file = os.path.splitext(csv_file)[0] + '.parquet'
    parquet_path = os.path.join(csv_directory, parquet_file)

    
    table = pa.Table.from_pandas(df)

    
    with open(parquet_path, 'wb') as f:
        pq.write_table(table, f)

FileNotFoundError: [WinError 3] Le chemin d’accès spécifié est introuvable: 'C:\\Users\\yskon\\Desktop\\Cheap\\Cheap_Advisor\\Scraping\\Travel_Scrapping'

## CSV DELETE

In [ ]:
import os

csv_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scrap_Training\Scraping\Travel_Scrapping"
csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

for csv_file in csv_files:
    csv_path = os.path.join(csv_directory, csv_file)
    os.remove(csv_path)

### Lecture des parquets

In [1]:
import os
import pandas as pd
import pyarrow.parquet as pq
# à changer lee directory
parquet_directory = R"C:\Users\yskon\Desktop\Cheap\Cheap_Advisor\Scrap_Training\Scraping\Travel_Scrapping"
parquet_files = [file for file in os.listdir(parquet_directory) if file.endswith('.parquet')]


dataframes = []

for parquet_file in parquet_files:
    parquet_path = os.path.join(parquet_directory, parquet_file)
    
  
    table = pq.read_table(parquet_path)
    df = table.to_pandas()
    
    
    dataframes.append(df)
    
dataframe = pd.concat(dataframes, ignore_index=True)   

dataframe.head()

,Date_Départ,Date_arrivée,VILLE_DEPART,VILLE_ARRIVEE,Horaires,Trajet,Type de trajet,Temps de trajet,Prix,Compagnie de vol,Unnamed: 0
0,2023-11-22,2023-11-28,BER,PAR,20:15 – 22:05,BERAéroport de Berlin Brandebourg-CDGAéroport ...,direct,1h 50min,119 €,Air France,NaN
1,2023-11-22,2023-11-28,BER,PAR,20:30 – 22:20,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,123 €,easyJet Europe,NaN
2,2023-11-22,2023-11-28,BER,PAR,20:30 – 22:20,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,123 €,"easyJet Europe, easyJet",NaN
3,2023-11-22,2023-11-28,BER,PAR,15:45 – 17:35,BERAéroport de Berlin Brandebourg-CDGAéroport ...,direct,1h 50min,128 €,Air France,NaN
4,2023-11-22,2023-11-28,BER,PAR,20:30 – 22:20,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,134 €,"easyJet Europe, easyJet",NaN

In [ ]:
dataframe.columns

In [ ]:
print(dataframe['Unnamed: 0'].head(10))

In [2]:
dataframe = dataframe.drop("Unnamed: 0", axis=1)

In [7]:
dataframe.columns

Index(['Date_Départ', 'Date_arrivée', 'VILLE_DEPART', 'VILLE_ARRIVEE',
       'Horaires', 'Trajet', 'Type de trajet', 'Temps de trajet', 'Prix',
       'Compagnie de vol'],
      dtype='object')

In [ ]:
print(dataframe.dtypes)

In [3]:
# Créer deux colonnes temporaires pour 'Heure_Départ' et 'Heure_Arrivée'
temp = dataframe['Horaires'].str.split(' - ', expand=True)

# Assurez-vous que les colonnes temp ne contiennent que des valeurs valides
if temp.shape[1] == 2:
    dataframe['Heure_Départ'] = temp[0]
    dataframe['Heure_Arrivée'] = temp[1]
else:
    # Si les colonnes 'temp' ne sont pas divisées correctement, vous pouvez les initialiser avec des valeurs vides
    dataframe['Heure_Départ'] = ''
    dataframe['Heure_Arrivée'] = ''

# Convertir les colonnes 'Heure_Départ' et 'Heure_Arrivée' en objets datetime avec le format spécifié
dataframe['Heure_Départ'] = pd.to_datetime(dataframe['Heure_Départ'], format='%H:%M', errors='coerce')
dataframe['Heure_Arrivée'] = pd.to_datetime(dataframe['Heure_Arrivée'], format='%H:%M', errors='coerce')

# Supprimer la colonne 'Horaires' si nécessaire
dataframe = dataframe.drop(columns=['Horaires'])

# Afficher les premières lignes du dataframe pour vérifier les résultats
print(dataframe.head())

  Date_Départ Date_arrivée VILLE_DEPART VILLE_ARRIVEE  \
0  2023-11-22   2023-11-28          BER           PAR
1  2023-11-22   2023-11-28          BER           PAR
2  2023-11-22   2023-11-28          BER           PAR
3  2023-11-22   2023-11-28          BER           PAR
4  2023-11-22   2023-11-28          BER           PAR

                                              Trajet Type de trajet  \
0  BERAéroport de Berlin Brandebourg-CDGAéroport ...         direct
1  BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
2  BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
3  BERAéroport de Berlin Brandebourg-CDGAéroport ...         direct
4  BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct

  Temps de trajet   Prix         Compagnie de vol Heure_Départ Heure_Arrivée
0        1h 50min  119 €               Air France          NaT           NaT
1        1h 50min  123 €           easyJet Europe          NaT           NaT
2        1h 50min  123 €  easyJet Europe, easyJet          NaT           NaT
3        1h 50min  128 €               Air France          NaT           NaT
4        1h 50min  134 €  easyJet Europe, easyJet          NaT           NaT

In [4]:
dataframe['Prix']

0          119 €
1          123 €
2          123 €
3          128 €
4          134 €
           ...
2129104    133 €
2129105    134 €
2129106    137 €
2129107    137 €
2129108    137 €
Name: Prix, Length: 2129109, dtype: object

In [5]:
dataframe.columns

Index(['Date_Départ', 'Date_arrivée', 'VILLE_DEPART', 'VILLE_ARRIVEE',
       'Trajet', 'Type de trajet', 'Temps de trajet', 'Prix',
       'Compagnie de vol', 'Heure_Départ', 'Heure_Arrivée'],
      dtype='object')

In [6]:
print(dataframe.dtypes)

Date_Départ                 object
Date_arrivée                object
VILLE_DEPART                object
VILLE_ARRIVEE               object
Trajet                      object
Type de trajet              object
Temps de trajet             object
Prix                        object
Compagnie de vol            object
Heure_Départ        datetime64[ns]
Heure_Arrivée       datetime64[ns]
dtype: object

In [7]:
import pandas as pd


dataframe = dataframe[dataframe['Date_Départ'] != "Date_Départ"]
dataframe = dataframe[dataframe['Date_arrivée'] != "Date_Départ"]


dataframe['Date_Départ'] = pd.to_datetime(dataframe['Date_Départ'], format='%Y-%m-%d')
dataframe['Date_arrivée'] = pd.to_datetime(dataframe['Date_arrivée'], format='%Y-%m-%d')


dataframe['Date_Départ'] = dataframe['Date_Départ'].dt.strftime('%d/%m/%Y')
dataframe['Date_arrivée'] = dataframe['Date_arrivée'].dt.strftime('%d/%m/%Y')


print(dataframe)

        Date_Départ Date_arrivée VILLE_DEPART VILLE_ARRIVEE  \
0        22/11/2023   28/11/2023          BER           PAR
1        22/11/2023   28/11/2023          BER           PAR
2        22/11/2023   28/11/2023          BER           PAR
3        22/11/2023   28/11/2023          BER           PAR
4        22/11/2023   28/11/2023          BER           PAR
...             ...          ...          ...           ...
2129104  22/11/2023   28/11/2023          PAR           OSL
2129105  22/11/2023   28/11/2023          PAR           OSL
2129106  22/11/2023   28/11/2023          PAR           OSL
2129107  22/11/2023   28/11/2023          PAR           OSL
2129108  22/11/2023   28/11/2023          PAR           OSL

                                                    Trajet Type de trajet  \
0        BERAéroport de Berlin Brandebourg-CDGAéroport ...         direct
1        BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
2        BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
3        BERAéroport de Berlin Brandebourg-CDGAéroport ...         direct
4        BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
...                                                    ...            ...
2129104  BVAAéroport de Beauvais-Tillé-TRFAéroport de S...           None
2129105  BVAAéroport de Beauvais-Tillé-TRFAéroport de S...           None
2129106  CDGAéroport Charles-de-Gaulle-OSLAéroport d'Os...         direct
2129107  CDGAéroport Charles-de-Gaulle-OSLAéroport d'Os...         direct
2129108  CDGAéroport Charles-de-Gaulle-OSLAéroport d'Os...         direct

        Temps de trajet   Prix         Compagnie de vol Heure_Départ  \
0              1h 50min  119 €               Air France          NaT
1              1h 50min  123 €           easyJet Europe          NaT
2              1h 50min  123 €  easyJet Europe, easyJet          NaT
3              1h 50min  128 €               Air France          NaT
4              1h 50min  134 €  easyJet Europe, easyJet          NaT
...                 ...    ...                      ...          ...
2129104        4h 50min  133 €     Plusieurs compagnies          NaT
2129105        4h 50min  134 €     Plusieurs compagnies          NaT
2129106        2h 20min  137 €               Air France          NaT
2129107        2h 25min  137 €               Air France          NaT
2129108        2h 20min  137 €               Air France          NaT

        Heure_Arrivée
0                 NaT
1                 NaT
2                 NaT
3                 NaT
4                 NaT
...               ...
2129104           NaT
2129105           NaT
2129106           NaT
2129107           NaT
2129108           NaT

[2123359 rows x 11 columns]

In [30]:
dataframe.head(10)

,Date_Départ,Date_arrivée,VILLE_DEPART,VILLE_ARRIVEE,Trajet,Type de trajet,Temps de trajet,Prix,Compagnie de vol,Heure_Départ,Heure_Arrivée
0,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-CDGAéroport ...,direct,1h 50min,119,Air France,NaT,NaT
1,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,123,easyJet Europe,NaT,NaT
2,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,123,"easyJet Europe, easyJet",NaT,NaT
3,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-CDGAéroport ...,direct,1h 50min,128,Air France,NaT,NaT
4,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,134,"easyJet Europe, easyJet",NaT,NaT
5,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-ORYAéroport ...,direct,1h 50min,134,None,NaT,NaT
6,22/11/2023,28/11/2023,BER,PAR,BERAéroport de Berlin Brandebourg-CDGAéroport ...,direct,1h 50min,133,Air France,NaT,NaT
7,22/11/2023,28/11/2023,BER,PAR,None,None,None,0,None,NaT,NaT
8,22/11/2023,28/11/2023,BER,PAR,None,None,None,0,None,NaT,NaT
9,22/11/2023,28/11/2023,BER,PAR,None,None,None,0,None,NaT,NaT

In [8]:
print(dataframe.dtypes)

Date_Départ                 object
Date_arrivée                object
VILLE_DEPART                object
VILLE_ARRIVEE               object
Trajet                      object
Type de trajet              object
Temps de trajet             object
Prix                        object
Compagnie de vol            object
Heure_Départ        datetime64[ns]
Heure_Arrivée       datetime64[ns]
dtype: object

In [9]:
import pandas as pd

# Supposons que vous ayez un DataFrame appelé dataframe avec les colonnes que vous avez mentionnées
# Convertir les colonnes de date en datetime
dataframe['Date_Départ'] = pd.to_datetime(dataframe['Date_Départ'])
dataframe['Date_arrivée'] = pd.to_datetime(dataframe['Date_arrivée'])

# Convertir les autres colonnes en string
cols_to_convert_to_string = ['VILLE_DEPART', 'VILLE_ARRIVEE', 'Trajet', 'Type de trajet', 'Temps de trajet', 'Prix', 'Compagnie de vol']
dataframe[cols_to_convert_to_string] = dataframe[cols_to_convert_to_string].astype(str)

# Afficher le DataFrame mis à jour
print(dataframe)

C:\Users\yskon\AppData\Local\Temp\ipykernel_42456\3518790853.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dataframe['Date_Départ'] = pd.to_datetime(dataframe['Date_Départ'])
C:\Users\yskon\AppData\Local\Temp\ipykernel_42456\3518790853.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dataframe['Date_arrivée'] = pd.to_datetime(dataframe['Date_arrivée'])

        Date_Départ Date_arrivée VILLE_DEPART VILLE_ARRIVEE  \
0        2023-11-22   2023-11-28          BER           PAR
1        2023-11-22   2023-11-28          BER           PAR
2        2023-11-22   2023-11-28          BER           PAR
3        2023-11-22   2023-11-28          BER           PAR
4        2023-11-22   2023-11-28          BER           PAR
...             ...          ...          ...           ...
2129104  2023-11-22   2023-11-28          PAR           OSL
2129105  2023-11-22   2023-11-28          PAR           OSL
2129106  2023-11-22   2023-11-28          PAR           OSL
2129107  2023-11-22   2023-11-28          PAR           OSL
2129108  2023-11-22   2023-11-28          PAR           OSL

                                                    Trajet Type de trajet  \
0        BERAéroport de Berlin Brandebourg-CDGAéroport ...         direct
1        BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
2        BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
3        BERAéroport de Berlin Brandebourg-CDGAéroport ...         direct
4        BERAéroport de Berlin Brandebourg-ORYAéroport ...         direct
...                                                    ...            ...
2129104  BVAAéroport de Beauvais-Tillé-TRFAéroport de S...           None
2129105  BVAAéroport de Beauvais-Tillé-TRFAéroport de S...           None
2129106  CDGAéroport Charles-de-Gaulle-OSLAéroport d'Os...         direct
2129107  CDGAéroport Charles-de-Gaulle-OSLAéroport d'Os...         direct
2129108  CDGAéroport Charles-de-Gaulle-OSLAéroport d'Os...         direct

        Temps de trajet   Prix         Compagnie de vol Heure_Départ  \
0              1h 50min  119 €               Air France          NaT
1              1h 50min  123 €           easyJet Europe          NaT
2              1h 50min  123 €  easyJet Europe, easyJet          NaT
3              1h 50min  128 €               Air France          NaT
4              1h 50min  134 €  easyJet Europe, easyJet          NaT
...                 ...    ...                      ...          ...
2129104        4h 50min  133 €     Plusieurs compagnies          NaT
2129105        4h 50min  134 €     Plusieurs compagnies          NaT
2129106        2h 20min  137 €               Air France          NaT
2129107        2h 25min  137 €               Air France          NaT
2129108        2h 20min  137 €               Air France          NaT

        Heure_Arrivée
0                 NaT
1                 NaT
2                 NaT
3                 NaT
4                 NaT
...               ...
2129104           NaT
2129105           NaT
2129106           NaT
2129107           NaT
2129108           NaT

[2123359 rows x 11 columns]

In [ ]:
print(dataframe.dtypes)